RESEND_API_KEY=re_xxxxxxxxx
BOOKING_EMAIL=boekingen@jouwdomein.nl
BOOKINGS_ENABLED=false
# Optioneel nadat je eigen domein in Resend is geverifieerd:
BOOKING_FROM_EMAIL=Nails By Wyjona <afspraken@jouwdomein.nl>
